In [100]:
from spark_init import start_spark

spark = start_spark()
spark

In [101]:
from pyspark.sql.types import *

# schema = StructType([
#     StructField("InvoiceNo",   StringType(),  True),
#     StructField("StockCode",   StringType(),  True),
#     StructField("Description", StringType(),  True),
#     StructField("Quantity",    IntegerType(), True),
#     StructField("InvoiceDate", StringType(),  True),
#     StructField("UnitPrice",   DoubleType(),  True),
#     StructField("CustomerID",  DoubleType(),  True),
#     StructField("Country",     StringType(),  True),
# ])

staticDataFrame = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("../data/retail-data/all/online-retail-dataset.csv")

staticDataFrame.cache()
staticDataFrame.count()  # first full scan, then cached

staticDataFrame.createOrReplaceTempView("retail_data")

staticDataFrame.printSchema()
staticDataFrame.show(5)
staticDataFrame.describe().show()
staticDataFrame.describe("Quantity", "UnitPrice").show()

from pyspark.sql.functions import expr


df_ts = staticDataFrame.withColumn(
    "InvoiceTS",
    expr("to_timestamp(InvoiceDate, 'M/d/yyyy H:mm')")
)

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows
+-------+-----------------+------------------+--------------------+-----------------+---------------+-----------------+------------------+-----------+
|summary|        InvoiceNo|         StockCode|         Description|         Quantity|    InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+-----------------+------------------+--------------------+-----------------+---------------+-----------------+------------------+-----------+
|  count|           541909|            541909|              540455|           541909|         541909|           541909|            406829|     541909|
|   mean| 559965.752026781|27623.240210938104|             20713.0| 9.55224954743324|           NULL| 4.61111362608971|15287.690570239585|       NULL|
| stddev|13428.41728079582|16799.737628427672|                NULL|218.0811578502344|           NULL|96.75985306117953|1713.6003033215968|       NULL|
|    min|           536365|             10002| 4 PURPLE FLOCK D...|           -80995|1/10/2011 10:04|        -11062.06|             12346|  Australia|
|    max|          C581569|                 m|   wrongly sold sets|            80995|  9/9/2011 9:52|          38970.0|             18287|Unspecified|
+-------+-----------------+------------------+--------------------+-----------------+---------------+-----------------+------------------+-----------+

+-------+-----------------+-----------------+
|summary|         Quantity|        UnitPrice|
+-------+-----------------+-----------------+
|  count|           541909|           541909|
|   mean| 9.55224954743324| 4.61111362608971|
| stddev|218.0811578502344|96.75985306117953|
|    min|           -80995|        -11062.06|
|    max|            80995|          38970.0|
+-------+-----------------+-----------------+

In [102]:
from pyspark.sql.functions import window, column, col, desc

df_ts.selectExpr(
    "CustomerID",
    "(UnitPrice * Quantity) as total_cost",
    "InvoiceTS")\
    .groupBy(
        col("CustomerID"),
        window(
            col("InvoiceTS"),
            "1 day"
        ),
    )\
    .sum("total_cost")\
    .orderBy(desc("CustomerID"))\
    .show(5, truncate=False)

+----------+------------------------------------------+------------------+
|CustomerID|window                                    |sum(total_cost)   |
+----------+------------------------------------------+------------------+
|18287     |{2011-05-21 19:00:00, 2011-05-22 19:00:00}|765.28            |
|18287     |{2011-10-11 19:00:00, 2011-10-12 19:00:00}|1001.3199999999999|
|18287     |{2011-10-27 19:00:00, 2011-10-28 19:00:00}|70.67999999999999 |
|18283     |{2011-01-05 18:00:00, 2011-01-06 18:00:00}|108.44999999999997|
|18283     |{2011-04-20 19:00:00, 2011-04-21 19:00:00}|117.67999999999994|
+----------+------------------------------------------+------------------+
only showing top 5 rows

In [103]:
staticDataFrame.select("InvoiceDate").show(5, False)

+--------------+
|InvoiceDate   |
+--------------+
|12/1/2010 8:26|
|12/1/2010 8:26|
|12/1/2010 8:26|
|12/1/2010 8:26|
|12/1/2010 8:26|
+--------------+
only showing top 5 rows

In [104]:
# from pyspark.sql.functions import to_timestamp

# df_ts = staticDataFrame.withColumn(
#     "InvoiceTimestamp",
#     to_timestamp("InvoiceDate", "MM/dd/yyyy HH:mm")  # adjust pattern if needed
# )

In [105]:
from pyspark.sql.functions import window, col, desc, try_to_timestamp

df_ts.selectExpr(
    "CustomerID",
    "(UnitPrice * Quantity) as total_cost",
    "InvoiceTS"
).groupBy(
    col("CustomerID"),
    window(col("InvoiceTS"), "1 day"),
).sum("total_cost") \
 .orderBy(desc("CustomerID")) \
 .show(5, truncate=False)

+----------+------------------------------------------+------------------+
|CustomerID|window                                    |sum(total_cost)   |
+----------+------------------------------------------+------------------+
|18287     |{2011-05-21 19:00:00, 2011-05-22 19:00:00}|765.28            |
|18287     |{2011-10-11 19:00:00, 2011-10-12 19:00:00}|1001.3199999999999|
|18287     |{2011-10-27 19:00:00, 2011-10-28 19:00:00}|70.67999999999999 |
|18283     |{2011-01-05 18:00:00, 2011-01-06 18:00:00}|108.44999999999997|
|18283     |{2011-04-20 19:00:00, 2011-04-21 19:00:00}|117.67999999999994|
+----------+------------------------------------------+------------------+
only showing top 5 rows

In [106]:
# from pyspark.sql.functions import to_timestamp

# df_ts = staticDataFrame.withColumn(
#     "InvoiceTimestamp",
#     to_timestamp("InvoiceDate", "M/d/yyyy H:mm")
# )
# df_ts.select("InvoiceDate", "InvoiceTimestamp").show(10, False)

In [107]:
from pyspark.sql.functions import window, col, desc

df_ts.selectExpr(
    "CustomerID",
    "(UnitPrice * Quantity) as total_cost",
    "InvoiceTS"
).groupBy(
    col("CustomerID"),
    window(col("InvoiceTS"), "1 day"),
).sum("total_cost") \
 .orderBy(desc("CustomerID")) \
 .show(5, truncate=False)

+----------+------------------------------------------+------------------+
|CustomerID|window                                    |sum(total_cost)   |
+----------+------------------------------------------+------------------+
|18287     |{2011-05-21 19:00:00, 2011-05-22 19:00:00}|765.28            |
|18287     |{2011-10-11 19:00:00, 2011-10-12 19:00:00}|1001.3199999999999|
|18287     |{2011-10-27 19:00:00, 2011-10-28 19:00:00}|70.67999999999999 |
|18283     |{2011-01-05 18:00:00, 2011-01-06 18:00:00}|108.44999999999997|
|18283     |{2011-04-20 19:00:00, 2011-04-21 19:00:00}|117.67999999999994|
+----------+------------------------------------------+------------------+
only showing top 5 rows

In [108]:
from pyspark.sql.functions import window, col

df_ts.selectExpr(
    "CustomerID",
    "(UnitPrice * Quantity) as total_cost",
    "InvoiceTS"
).groupBy(
    col("CustomerID"),
    window(col("InvoiceTS"), "1 day"),
).sum("total_cost") \
 .select(
     "CustomerID",
     "window.start",
     "window.end",
     "sum(total_cost)"
 ) \
 .orderBy("CustomerID", "window.start") \
 .show(200, truncate=False)

+----------+-------------------+-------------------+-------------------+
|CustomerID|start              |end                |sum(total_cost)    |
+----------+-------------------+-------------------+-------------------+
|NULL      |2010-11-30 18:00:00|2010-12-01 18:00:00|12584.299999999988 |
|NULL      |2010-12-01 18:00:00|2010-12-02 18:00:00|431.84999999999985 |
|NULL      |2010-12-02 18:00:00|2010-12-03 18:00:00|23021.99999999999  |
|NULL      |2010-12-04 18:00:00|2010-12-05 18:00:00|3.35               |
|NULL      |2010-12-05 18:00:00|2010-12-06 18:00:00|23395.099999999904 |
|NULL      |2010-12-06 18:00:00|2010-12-07 18:00:00|-13124.980000000067|
|NULL      |2010-12-07 18:00:00|2010-12-08 18:00:00|11199.20000000001  |
|NULL      |2010-12-08 18:00:00|2010-12-09 18:00:00|15354.279999999955 |
|NULL      |2010-12-09 18:00:00|2010-12-10 18:00:00|25399.560000000012 |
|NULL      |2010-12-11 18:00:00|2010-12-12 18:00:00|23.3               |
|NULL      |2010-12-12 18:00:00|2010-12-13 18:00:00|7949.909999999991  |
|NULL      |2010-12-13 18:00:00|2010-12-14 18:00:00|15929.879999999974 |
|NULL      |2010-12-14 18:00:00|2010-12-15 18:00:00|132.90000000000003 |
|NULL      |2010-12-15 18:00:00|2010-12-16 18:00:00|319.3999999999999  |
|NULL      |2010-12-16 18:00:00|2010-12-17 18:00:00|25375.189999999762 |
|NULL      |2010-12-18 18:00:00|2010-12-19 18:00:00|117.52000000000001 |
|NULL      |2010-12-19 18:00:00|2010-12-20 18:00:00|7167.169999999999  |
|NULL      |2010-12-20 18:00:00|2010-12-21 18:00:00|31347.479999999938 |
|NULL      |2010-12-21 18:00:00|2010-12-22 18:00:00|1313.45            |
|NULL      |2010-12-22 18:00:00|2010-12-23 18:00:00|6412.139999999996  |
|NULL      |2011-01-03 18:00:00|2011-01-04 18:00:00|3900.6199999999994 |
|NULL      |2011-01-04 18:00:00|2011-01-05 18:00:00|-29716.63000000005 |
|NULL      |2011-01-05 18:00:00|2011-01-06 18:00:00|5529.280000000004  |
|NULL      |2011-01-06 18:00:00|2011-01-07 18:00:00|5038.800000000009  |
|NULL      |2011-01-09 18:00:00|2011-01-10 18:00:00|9207.240000000016  |
|NULL      |2011-01-10 18:00:00|2011-01-11 18:00:00|8386.810000000005  |
|NULL      |2011-01-11 18:00:00|2011-01-12 18:00:00|7527.089999999997  |
|NULL      |2011-01-12 18:00:00|2011-01-13 18:00:00|5453.33000000001   |
|NULL      |2011-01-13 18:00:00|2011-01-14 18:00:00|8044.880000000011  |
|NULL      |2011-01-16 18:00:00|2011-01-17 18:00:00|12735.669999999953 |
|NULL      |2011-01-17 18:00:00|2011-01-18 18:00:00|8358.240000000018  |
|NULL      |2011-01-18 18:00:00|2011-01-19 18:00:00|4287.790000000007  |
|NULL      |2011-01-19 18:00:00|2011-01-20 18:00:00|-2818.42           |
|NULL      |2011-01-20 18:00:00|2011-01-21 18:00:00|14302.86999999997  |
|NULL      |2011-01-23 18:00:00|2011-01-24 18:00:00|8101.42000000001   |
|NULL      |2011-01-24 18:00:00|2011-01-25 18:00:00|4958.170000000009  |
|NULL      |2011-01-25 18:00:00|2011-01-26 18:00:00|2431.4700000000034 |
|NULL      |2011-01-26 18:00:00|2011-01-27 18:00:00|1573.810000000002  |
|NULL      |2011-01-27 18:00:00|2011-01-28 18:00:00|2801.160000000005  |
|NULL      |2011-01-30 18:00:00|2011-01-31 18:00:00|4822.28000000001   |
|NULL      |2011-01-31 18:00:00|2011-02-01 18:00:00|2652.540000000006  |
|NULL      |2011-02-01 18:00:00|2011-02-02 18:00:00|4070.9700000000075 |
|NULL      |2011-02-02 18:00:00|2011-02-03 18:00:00|1295.8299999999997 |
|NULL      |2011-02-03 18:00:00|2011-02-04 18:00:00|7001.680000000016  |
|NULL      |2011-02-06 18:00:00|2011-02-07 18:00:00|2532.0500000000025 |
|NULL      |2011-02-07 18:00:00|2011-02-08 18:00:00|6781.890000000018  |
|NULL      |2011-02-08 18:00:00|2011-02-09 18:00:00|4771.800000000008  |
|NULL      |2011-02-09 18:00:00|2011-02-10 18:00:00|697.9499999999998  |
|NULL      |2011-02-10 18:00:00|2011-02-11 18:00:00|4273.640000000002  |
|NULL      |2011-02-13 18:00:00|2011-02-14 18:00:00|3699.520000000004  |
|NULL      |2011-02-14 18:00:00|2011-02-15 18:00:00|-780.6199999999994 |
|NULL      |2011-02-15 18:00:00|2011-02-16 18:00:00|1449.8800000000003 |
|NULL      |2011-02-16 18:00:00|2011-02-17 18:00:00|8697.880000000006  |
|NULL      |2011-02-17 18:00:00|2011-02-18 18:00:00|1745.6900000000003 |
|NULL      |2011-02-20 18:00:00|2011-02-21 18:00:00|-10998.4           |
|NULL      |2011-02-21 18:00:00|2011-02-22 18:00:00|5877.060000000003  |
|NULL      |2011-02-22 18:00:00|2011-02-23 18:00:00|7543.530000000006  |
|NULL      |2011-02-23 18:00:00|2011-02-24 18:00:00|0.0                |
|NULL      |2011-02-24 18:00:00|2011-02-25 18:00:00|3555.0000000000055 |
|NULL      |2011-02-27 18:00:00|2011-02-28 18:00:00|6648.609999999997  |
|NULL      |2011-02-28 18:00:00|2011-03-01 18:00:00|2723.090000000003  |
|NULL      |2011-03-01 18:00:00|2011-03-02 18:00:00|3.8                |
|NULL      |2011-03-02 18:00:00|2011-03-03 18:00:00|3538.750000000001  |
|NULL      |2011-03-03 18:00:00|2011-03-04 18:00:00|2184.3300000000036 |
|NULL      |2011-03-05 18:00:00|2011-03-06 18:00:00|7.95               |
|NULL      |2011-03-06 18:00:00|2011-03-07 18:00:00|10983.769999999955 |
|NULL      |2011-03-07 18:00:00|2011-03-08 18:00:00|2851.010000000004  |
|NULL      |2011-03-08 18:00:00|2011-03-09 18:00:00|1692.9699999999993 |
|NULL      |2011-03-09 18:00:00|2011-03-10 18:00:00|1671.550000000002  |
|NULL      |2011-03-10 18:00:00|2011-03-11 18:00:00|4596.130000000005  |
|NULL      |2011-03-13 19:00:00|2011-03-14 19:00:00|10.3               |
|NULL      |2011-03-14 19:00:00|2011-03-15 19:00:00|5973.300000000011  |
|NULL      |2011-03-15 19:00:00|2011-03-16 19:00:00|125.60000000000001 |
|NULL      |2011-03-16 19:00:00|2011-03-17 19:00:00|7876.000000000018  |
|NULL      |2011-03-17 19:00:00|2011-03-18 19:00:00|-6339.099999999995 |
|NULL      |2011-03-19 19:00:00|2011-03-20 19:00:00|2015.3400000000013 |
|NULL      |2011-03-20 19:00:00|2011-03-21 19:00:00|664.4700000000001  |
|NULL      |2011-03-21 19:00:00|2011-03-22 19:00:00|12451.28999999998  |
|NULL      |2011-03-22 19:00:00|2011-03-23 19:00:00|2512.8700000000044 |
|NULL      |2011-03-23 19:00:00|2011-03-24 19:00:00|0.0                |
|NULL      |2011-03-24 19:00:00|2011-03-25 19:00:00|3519.4600000000023 |
|NULL      |2011-03-26 19:00:00|2011-03-27 19:00:00|16.95              |
|NULL      |2011-03-27 19:00:00|2011-03-28 19:00:00|-243.90999999999397|
|NULL      |2011-03-28 19:00:00|2011-03-29 19:00:00|33521.39999999998  |
|NULL      |2011-03-29 19:00:00|2011-03-30 19:00:00|2297.86            |
|NULL      |2011-03-30 19:00:00|2011-03-31 19:00:00|8647.290000000012  |
|NULL      |2011-03-31 19:00:00|2011-04-01 19:00:00|1077.7399999999998 |
|NULL      |2011-04-02 19:00:00|2011-04-03 19:00:00|24.65              |
|NULL      |2011-04-03 19:00:00|2011-04-04 19:00:00|4236.470000000005  |
|NULL      |2011-04-04 19:00:00|2011-04-05 19:00:00|1385.4000000000003 |
|NULL      |2011-04-05 19:00:00|2011-04-06 19:00:00|4640.040000000004  |
|NULL      |2011-04-06 19:00:00|2011-04-07 19:00:00|51.989999999999995 |
|NULL      |2011-04-07 19:00:00|2011-04-08 19:00:00|4208.060000000006  |
|NULL      |2011-04-10 19:00:00|2011-04-11 19:00:00|2169.1299999999997 |
|NULL      |2011-04-11 19:00:00|2011-04-12 19:00:00|1546.3399999999995 |
|NULL      |2011-04-12 19:00:00|2011-04-13 19:00:00|-97.35             |
|NULL      |2011-04-13 19:00:00|2011-04-14 19:00:00|401.37000000000006 |
|NULL      |2011-04-14 19:00:00|2011-04-15 19:00:00|10312.640000000012 |
|NULL      |2011-04-17 19:00:00|2011-04-18 19:00:00|12312.61999999994  |
|NULL      |2011-04-18 19:00:00|2011-04-19 19:00:00|5485.660000000009  |
|NULL      |2011-04-19 19:00:00|2011-04-20 19:00:00|2951.52            |
|NULL      |2011-04-20 19:00:00|2011-04-21 19:00:00|3462.4700000000043 |
|NULL      |2011-04-25 19:00:00|2011-04-26 19:00:00|9463.019999999997  |
|NULL      |2011-04-26 19:00:00|2011-04-27 19:00:00|2349.240000000002  |
|NULL      |2011-04-27 19:00:00|2011-04-28 19:00:00|1178.26            |
|NULL      |2011-05-02 19:00:00|2011-05-03 19:00:00|6319.000000000006  |
|NULL      |2011-05-03 19:00:00|2011-05-04 19:00:00|12.15              |
|NULL      |2011-05-04 19:00:00|2011-05-05 19:00:00|3941.6200000000063 |
|NULL      |2011-05-05 19:00:00|2011-05-06 19:00:00|5150.210000000006  |
|NULL      |2011-05-08 19:00:00|2011-05-09 19:00:00|4649.3400000000065 |
|NULL      |2011-05-09 19:00:00|2011-05-10 19:00:00|17949.28000000001  |
|NULL      |2011-05-10 19:00:00|2011-05-11 19:00:00|1799.5500000000006 |
|NULL      |2011-05-11 19:00:00|2011-05-12 19:00:00|2001.5300000000004 |
|NULL      |2011-05-12 19:00:00|2011-05-13 19:00:00|4864.120000000005  |
|NULL      |2011-05-14 19:00:00|2011-05-15 19:00:00|244.22999999999996 |
|NULL      |2011-05-15 19:00:00|2011-05-16 19:00:00|-10387.250000000062|
|NULL      |2011-05-16 19:00:00|2011-05-17 19:00:00|8173.220000000017  |
|NULL      |2011-05-17 19:00:00|2011-05-18 19:00:00|1600.5700000000008 |
|NULL      |2011-05-18 19:00:00|2011-05-19 19:00:00|4012.6600000000067 |
|NULL      |2011-05-19 19:00:00|2011-05-20 19:00:00|1228.5100000000002 |
|NULL      |2011-05-22 19:00:00|2011-05-23 19:00:00|3378.1100000000038 |
|NULL      |2011-05-23 19:00:00|2011-05-24 19:00:00|5197.560000000011  |
|NULL      |2011-05-24 19:00:00|2011-05-25 19:00:00|2420.5500000000025 |
|NULL      |2011-05-25 19:00:00|2011-05-26 19:00:00|729.3500000000001  |
|NULL      |2011-05-26 19:00:00|2011-05-27 19:00:00|7278.710000000012  |
|NULL      |2011-05-30 19:00:00|2011-05-31 19:00:00|4519.410000000008  |
|NULL      |2011-05-31 19:00:00|2011-06-01 19:00:00|5204.800000000013  |
|NULL      |2011-06-01 19:00:00|2011-06-02 19:00:00|4721.580000000013  |
|NULL      |2011-06-02 19:00:00|2011-06-03 19:00:00|1870.9900000000016 |
|NULL      |2011-06-05 19:00:00|2011-06-06 19:00:00|1498.0900000000004 |
|NULL      |2011-06-06 19:00:00|2011-06-07 19:00:00|4049.460000000008  |
|NULL      |2011-06-07 19:00:00|2011-06-08 19:00:00|13072.19999999996  |
|NULL      |2011-06-08 19:00:00|2011-06-09 19:00:00|3478.7200000000057 |
|NULL      |2011-06-09 19:00:00|2011-06-10 19:00:00|3989.320000000008  |
|NULL      |2011-06-11 19:00:00|2011-06-12 19:00:00|44.85              |
|NULL      |2011-06-12 19:00:00|2011-06-13 19:00:00|2738.100000000004  |
|NULL      |2011-06-13 19:00:00|2011-06-14 19:00:00|7033.010000000008  |
|NULL      |2011-06-14 19:00:00|2011-06-15 19:00:00|2546.9500000000066 |
|NULL      |2011-06-15 19:00:00|2011-06-16 19:00:00|2276.91            |
|NULL      |2011-06-16 19:00:00|2011-06-17 19:00:00|2016.9400000000005 |
|NULL      |2011-06-19 19:00:00|2011-06-20 19:00:00|8245.130000000025  |
|NULL      |2011-06-20 19:00:00|2011-06-21 19:00:00|3818.8700000000126 |
|NULL      |2011-06-21 19:00:00|2011-06-22 19:00:00|655.57             |
|NULL      |2011-06-22 19:00:00|2011-06-23 19:00:00|2686.0100000000066 |
|NULL      |2011-06-23 19:00:00|2011-06-24 19:00:00|-7367.370000000025 |
|NULL      |2011-06-26 19:00:00|2011-06-27 19:00:00|3603.5600000000095 |
|NULL      |2011-06-27 19:00:00|2011-06-28 19:00:00|4354.3099999999995 |
|NULL      |2011-06-28 19:00:00|2011-06-29 19:00:00|9517.69            |
|NULL      |2011-06-29 19:00:00|2011-06-30 19:00:00|3054.270000000004  |
|NULL      |2011-06-30 19:00:00|2011-07-01 19:00:00|1485.7700000000004 |
|NULL      |2011-07-03 19:00:00|2011-07-04 19:00:00|13667.65999999993  |
|NULL      |2011-07-04 19:00:00|2011-07-05 19:00:00|14766.169999999916 |
|NULL      |2011-07-05 19:00:00|2011-07-06 19:00:00|3427.06000000001   |
|NULL      |2011-07-06 19:00:00|2011-07-07 19:00:00|4552.050000000006  |
|NULL      |2011-07-07 19:00:00|2011-07-08 19:00:00|9523.800000000008  |
|NULL      |2011-07-10 19:00:00|2011-07-11 19:00:00|2524.9900000000034 |
|NULL      |2011-07-11 19:00:00|2011-07-12 19:00:00|8314.360000000011  |
|NULL      |2011-07-12 19:00:00|2011-07-13 19:00:00|-7672.000000000031 |
|NULL      |2011-07-13 19:00:00|2011-07-14 19:00:00|1575.3200000000002 |
|NULL      |2011-07-14 19:00:00|2011-07-15 19:00:00|2979.130000000006  |
|NULL      |2011-07-16 19:00:00|2011-07-17 19:00:00|235.9599999999999  |
|NULL      |2011-07-17 19:00:00|2011-07-18 19:00:00|16803.529999999893 |
|NULL      |2011-07-18 19:00:00|2011-07-19 19:00:00|3583.7500000000014 |
|NULL      |2011-07-19 19:00:00|2011-07-20 19:00:00|6231.270000000012  |
|NULL      |2011-07-20 19:00:00|2011-07-21 19:00:00|1264.2900000000022 |
|NULL      |2011-07-21 19:00:00|2011-07-22 19:00:00|5491.090000000005  |
|NULL      |2011-07-23 19:00:00|2011-07-24 19:00:00|302.53999999999985 |
|NULL      |2011-07-24 19:00:00|2011-07-25 19:00:00|7199.840000000011  |
|NULL      |2011-07-25 19:00:00|2011-07-26 19:00:00|4338.960000000009  |
|NULL      |2011-07-26 19:00:00|2011-07-27 19:00:00|2747.6100000000033 |
|NULL      |2011-07-27 19:00:00|2011-07-28 19:00:00|2071.370000000001  |
|NULL      |2011-07-28 19:00:00|2011-07-29 19:00:00|1549.79            |
|NULL      |2011-07-30 19:00:00|2011-07-31 19:00:00|97.32000000000001  |
|NULL      |2011-07-31 19:00:00|2011-08-01 19:00:00|1573.1000000000013 |
|NULL      |2011-08-01 19:00:00|2011-08-02 19:00:00|-4993.459999999994 |
|NULL      |2011-08-02 19:00:00|2011-08-03 19:00:00|1495.370000000001  |
|NULL      |2011-08-03 19:00:00|2011-08-04 19:00:00|3422.600000000003  |
|NULL      |2011-08-04 19:00:00|2011-08-05 19:00:00|1713.1800000000017 |
|NULL      |2011-08-06 19:00:00|2011-08-07 19:00:00|1.95               |
|NULL      |2011-08-07 19:00:00|2011-08-08 19:00:00|3609.130000000006  |
|NULL      |2011-08-08 19:00:00|2011-08-09 19:00:00|1722.3200000000013 |
|NULL      |2011-08-09 19:00:00|2011-08-10 19:00:00|8930.780000000008  |
|NULL      |2011-08-10 19:00:00|2011-08-11 19:00:00|18047.620000000003 |
|NULL      |2011-08-11 19:00:00|2011-08-12 19:00:00|-7862.940000000068 |
|NULL      |2011-08-14 19:00:00|2011-08-15 19:00:00|0.0                |
|NULL      |2011-08-15 19:00:00|2011-08-16 19:00:00|3161.8199999999997 |
|NULL      |2011-08-16 19:00:00|2011-08-17 19:00:00|2910.8600000000033 |
|NULL      |2011-08-17 19:00:00|2011-08-18 19:00:00|24.12              |
|NULL      |2011-08-18 19:00:00|2011-08-19 19:00:00|10.0               |
|NULL      |2011-08-20 19:00:00|2011-08-21 19:00:00|10.02              |
|NULL      |2011-08-21 19:00:00|2011-08-22 19:00:00|28.28              |
|NULL      |2011-08-22 19:00:00|2011-08-23 19:00:00|3521.3299999999986 |
|NULL      |2011-08-23 19:00:00|2011-08-24 19:00:00|-771.8099999999968 |
|NULL      |2011-08-24 19:00:00|2011-08-25 19:00:00|371.51             |
|NULL      |2011-08-25 19:00:00|2011-08-26 19:00:00|1514.7999999999993 |
|NULL      |2011-08-29 19:00:00|2011-08-30 19:00:00|23032.59999999993  |
|NULL      |2011-08-30 19:00:00|2011-08-31 19:00:00|4839.330000000006  |
|NULL      |2011-08-31 19:00:00|2011-09-01 19:00:00|0.0                |
|NULL      |2011-09-01 19:00:00|2011-09-02 19:00:00|12024.969999999987 |
|NULL      |2011-09-03 19:00:00|2011-09-04 19:00:00|114.56000000000002 |
+----------+-------------------+-------------------+-------------------+
only showing top 200 rows

In [109]:
streamingDataFrame = spark.readStream\
    .option("maxFilesPerTrigger", 1)\
    .schema(staticDataFrame.schema)\
    .format("csv") \
    .option("header", "true") \
    .csv("../data/retail-data/by-day")   # <-- DIRECTORY, no .csv file

In [110]:
streamingDataFrame.isStreaming

True

In [111]:
# purchaseByCustomerPerHour = streamingDataFrame \
#     .selectExpr(
#         "CustomerID",
#         "(UnitPrice * Quantity) as total_cost",
#         "InvoiceDate"
#     ) \
#     .groupBy(
#         col("CustomerID"),
#         window(col("InvoiceDate"), "1 hour")
#     ) \
#     .sum("total_cost")

In [112]:
purchaseByCustomerPerHour.isStreaming

True

In [113]:
# purchaseByCustomerPerHour.writeStream \
#     .format("memory") \
#     .queryName("customer_purchases") \
#     .outputMode("complete") \
#     .start()

In [114]:
query = purchaseByCustomerPerHour.writeStream \
    .format("memory") \
    .queryName("customer_purchases") \
    .outputMode("complete") \
    .start()

IllegalArgumentException: Cannot start query with name customer_purchases as a query with that name is already active in this SparkSession

In [ ]:
query.isActive
query.status
query.lastProgress

In [ ]:
print("isActive:", query.isActive)
print("status:", query.status)
print("lastProgress:", query.lastProgress)

isActive: True
status: {'message': 'Getting offsets from FileStreamSource[file:/c:/Users/ryanh/dv/spark-definitive-guide-ryan/data/retail-data/by-day]', 'isDataAvailable': False, 'isTriggerActive': True}
lastProgress: None