In [3]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("TDG-Ch2")
    .master("local[*]")
    .getOrCreate()
)

spark

In [4]:
df = spark.range(1000)
df.count()

1000

In [5]:
df.filter("id > 900").show()

+---+
| id|
+---+
|901|
|902|
|903|
|904|
|905|
|906|
|907|
|908|
|909|
|910|
|911|
|912|
|913|
|914|
|915|
|916|
|917|
|918|
|919|
|920|
+---+
only showing top 20 rows

In [7]:
flight_path = "data/flight-data/json/2015-summary.json"
flight_df = spark.read.json(flight_path)

flight_df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows